*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    overflow: hidden;
    background-image: url(img/1611928568_7-p-zadnii-fon-dlya-igri-7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 bottom;
    min-height: 100%;

    counter-reset: killer;

    user-select: none;
}

.summ::after {
    content: counter(killer);
    padding-right: 6px;
}

.summ_wrapper {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
}


.duck input[type='checkbox']:checked{
    counter-increment: killer; 
}


.duck input[type='checkbox']:checked + label {
    display: none;
}
 

label {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 100%;

    background-image: url(img/duck_hunt_bird_big2.gif);
    background-repeat: no-repeat;
    width: 62px;
    height: 56px;
}

.version {
    position: absolute;
    color: #333333;
    text-transform: uppercase;
    font-size: 40px;
    text-shadow: 7px 6px 3px rgba(206,89,55,0.49);
    font-weight: bold;
    opacity: 0;
    animation: anim1 1s cubic-bezier(0.2, -2, 0, 1.7) forwards;
}

.regulations {
    position: relative;
    width: 275px;
    height: 400px;
    text-shadow: 6px 3px 5px #000;
    background-color: rgba(0, 0, 0, 0.425);
    top: -350px;
    left: 3%;
    border-radius: 0 0 20px 20px;
    transition: .3s ease-in-out;
    box-shadow: 0 0 25px #000;
}
.regulations_footer {
    position: absolute;
    color: #fff;
    background-color: rgba(116, 48, 48, 0.692);
    text-transform: uppercase;
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0 0 20px 20px;

}
.regulations_content {
    padding: 15px;
    font-size: 20px;
    color: #fff;
    line-height: 1.6;
}

.regulations:hover {
    cursor: pointer;
    top: 0;
}

.duck {
    position: absolute;
    left: -80px;
    top: 50%;
}

input[type=checkbox] {
    width: 0;
}

.reset {
    display: inline-block;
    position: absolute;
    bottom: 2%;
    right: 3%;
    
}
.stop {
    display: inline-block;
    position: absolute;
    bottom: 2%;
    left: 3%;

}
.stop:hover ~ .duck {
    animation-play-state: paused;
}
.stop:hover ~ .duck label {
    background-image: url(img/ice.png);
    background-repeat: no-repeat;
    
}
.style {
    color: #fff;
    border: 4px solid #fff;
    box-shadow: 7px 7px 20px #000;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-transform: uppercase;
}
.style__blue {
    background-color: rgba(53, 53, 173, 0.671);
    cursor: pointer;
    animation: pulse 1s infinite;
    transition: .3s ease-in-out;

}
.style__blue:hover {
    bottom: 3%;
}

.smail {
    position: absolute;
    top: 180px;
    left: 33%;
    width: 100px;
    height: 100px;
    background-color: rgba(224, 240, 3, 0.822);
    box-shadow: 7px 7px 20px #000;
    border-radius: 50%;
    animation: smile_bounce .9s infinite ease-out;
}
.smail::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 55%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #333333;
    animation: smile_bounce_eyes .9s infinite ease-out;
}
.smail::after {
    position: absolute;
    top: 20px;
    right: 55%;
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #333333;
    animation: smile_bounce_eyes .9s infinite ease-out;
}

.duck1 {
    animation: fly1 5s .7s ease-in-out;
}
.duck2 {
    animation: fly2 5s 4s ease-in-out;
}
.duck3 {
    transform: scale(-1, 1);
    animation: fly3 7s 2s ease-in-out;
} 
.duck4 {
    transform: scale(-1, 1);
    animation: fly4 6s .9s ease-in;
}
.duck5 {
    animation: fly5 5s 3s ease-out;
}
.duck6 {
    animation: fly2 7s 1.5s ease-in;
}
.duck7 {
    animation: fly5 7s 1.5s ease-in-out;
}
.duck8 {
    transform: scale(-1, 1);
    animation: fly4 5s 6s ease-in-out;
}
.duck9 {
    transform: scale(-1, 1);
    animation: fly3 4s 5s linear;
}
.duck10 {
    animation: fly1 7s 3s ease-out;
}

@keyframes smile_bounce {
    0% {
        left: 33%;
        height: 100px;
        width: 100px;
    }
    30% {
        left: 33%;
        height: 100px;
        width: 90px;
    }
    50% {
        left: 33%;
        height: 80px;
        width: 110px;
        transform: translateY(89px);
        
    }
    75% {
        left: 33%;
        height: 80px;
        width: 110px;
    }
    100% {
        left: 33%;
        transform: translateY(0px);
    }
}

@keyframes smile_bounce_eyes {
    0% {
        top: 15px;
        height: 30px;
    }
    50% {
        top: 40px;
        height: 20px; 
    }
    100% {
        top: 15px;
        height: 30px;
    }
}

@keyframes anim1 {
    from {
        left: 80%;
        top: 20%;
    }
    to {
        top: 10%;
        left: 50%;
        transform: translate(-50%);
        opacity: 1;
    }
}

@keyframes fly1 {
    0%{
        left: -80px;
        top: 20%;
    }
    25% {
        left: 25%;
        top: 60%;

    }
    50% {
        left: 50%;
        top: 90%;
    }
    75% {  
        left: 70%;
        top: 90%;
    }
    100% {
        left: 110%;
    }
} 
@keyframes fly2 {
    0%{
        left: -80px;
        top: 10%;
    }
    25% {
        left: 30%;
        top: 70%;

    }
    50% {
        left: 80%;
        top: 90%;
    }
    75% {  
        left: 90%;
        top: 50%;
    }
    100% {
        left: 110%;
    }
} 
@keyframes fly3 {
    0%{
        left: 110%;
        top: 20%;
    }
    25% {
        left: 80%;
        top: 60%;

    }
    50% {
        left: 50%;
        top: 70%;
    }
    75% {  
        left: 20%;
        top: 90%;
    }
    100% {
        left: -10%;
    }
} 

@keyframes fly4 {
    0%{
        left: 100%;
        top: -10%;
    }
    25% {
        left: 50%;
        top: 60%;

    }
    50% {
        left: 50%;
        top: 90%;
    }
    75% {  
        left: 15%;
        top: 80%;
    }
    100% {
        left: -10%;
    }
} 

@keyframes fly5 {
    0%{
        left: -10%;
        top: 110%;
    }
    25% {
        left: 50%;
        top: 80%;

    }
    50% {
        left: 60%;
        top: 40%;
    }
    75% {  
        left: 90%;
        top: 85%;
    }
    100% {
        left: 110%;
    }
} 



